#alpha {
	background-color: red;
	opacity: 0.8;
	width: 100px;
	height: 100px;
}

#beta {
	background-color: green;
	opacity: 0.8;
	width: 100px;
	height: 100px;
}

#gamma {
	background-color: orange;
	opacity: 0.8;
	width: 100px;
	height: 100px;
}

#omega {
	background-color: purple;
	opacity: 0.8;
	width: 100px;
	height: 100px;
}
