* {
	box-sizing: border-box;
}

.container-fluid, html {
	background: url("../images/crystalbgblue.jpg") no-repeat center center fixed;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
 
h1 {
	padding: 35px;
	font-size: 40px;
}

#targetBlock {
	padding-bottom: 20px;
}

#targetScore, #score, #wins, #losses {
  font-size: 45px;
}

.game {
	margin-top: 30px;
	min-height: 250px;
}

.crystal {
	width: 150px;
	height: 150px;
	margin: 30px;
}

#red { 

     -webkit-animation: neon1 1s ease-in-out infinite alternate;
  -moz-animation: neon1 1s ease-in-out infinite alternate;
  animation: neon1 1s ease-in-out infinite alternate;

}

#blue { 

     -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

}

#green { 

    -webkit-animation: neon3 2s ease-in-out infinite alternate;
  -moz-animation: neon3 2s ease-in-out infinite alternate;
  animation: neon3 2s ease-in-out infinite alternate;

}

#yellow { 

     -webkit-animation: neon4 2.3s ease-in-out infinite alternate;
  -moz-animation: neon4 2.3s ease-in-out infinite alternate;
  animation: neon4 2.3s ease-in-out infinite alternate;

}

@-webkit-keyframes neon1 {
   from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #d10042, 0 0 80px #d10042, 0 0 100px #d10042, 0 0 150px #d10042, 0 0 180px #d10042;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #d10042, 0 0 40px #d10042, 0 0 50px #d10042, 0 0 75px #d10042, 0 0 90px #d10042;
  }
}

@-webkit-keyframes neon2 {
   from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #2a36b2, 0 0 80px #2a36b2, 0 0 100px #2a36b2, 0 0 150px #2a36b2, 0 0 180px #2a36b2;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #2a36b2, 0 0 40px #2a36b2, 0 0 50px #2a36b2, 0 0 75px #2a36b2, 0 0 90px #2a36b2;
  }
}

@-webkit-keyframes neon3 {
   from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #048900, 0 0 80px #048900, 0 0 100px #048900, 0 0 150px #048900, 0 0 180px #048900;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #048900, 0 0 40px #048900, 0 0 50px #048900, 0 0 75px #048900, 0 0 90px #048900;
  }
}

@-webkit-keyframes neon4 {
   from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #d3d631, 0 0 80px #d3d631, 0 0 100px #d3d631, 0 0 150px #d3d631, 0 0 180px #d3d631;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #d3d631, 0 0 40px #d3d631, 0 0 50px #d3d631, 0 0 75px #d3d631, 0 0 90px #d3d631;
  }
}